
# Binary locations
[Bb]in/
[Bb]inaries/
[Dd]ebug/
[Rr]elease/
[Ii]ntermediates/

# Intermediate files
*.obj
*.pdb

# Compiled libraries and executables
*.lib
*.dll
*.exe

# Visual Studio files
.vs/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Makefiles

Makefile

# Exceptions

!Premake*

